<!DOCTYPE html>
<html>
	<head>
		<title>登录</title>
		<% include adminlte.html %>
		<link rel="stylesheet" href="/adminlte-2.3.6/plugins/iCheck/all.css">
		<script src="/adminlte-2.3.6/plugins/iCheck/icheck.min.js"></script>
		<link rel="stylesheet" href="/css/login.css">
	</head>
	<body class="center light-login">
		<div class="row header-space">
		</div>
		<div class="login-container">
		    <div id="login-panel" class="panel panel-primary visible">
		        <div class="panel-heading text-center">
		            <h3><b><%= title %></b> 登录</h3>
		        </div>
		        <div class="panel-body">
		            <br>
					<form action="/login" method="POST" id="login-form" data-toggle="validator" data-feedback="" data-disable="false">
		                <input name="password" type="hidden"/>
		                <div class="form-group has-feedback">
		                    <input id="login-username" type="text" class="form-control" placeholder="用户名" name="username" value="<%= locals.username %>" required>
		                    <span class="glyphicon glyphicon-user form-control-feedback text-gray"></span>
							<span class="help-block with-errors"></span>
		                </div>
		                <div class="form-group has-feedback">
		                    <input id="login-pwd" type="password" class="form-control" placeholder="密码" required>
		                    <span class="glyphicon glyphicon-lock form-control-feedback text-gray"></span>
							<span class="help-block with-errors"></span>
		                </div>
		                <div class="row">
		                    <div class="col-xs-8">
		                        <input type="hidden" id="login-remember-me" name="rememberMe" value="<%= locals.rememberMe %>"/>
		                        <div class="checkbox icheck">
		                            <label>
		                                <input id="checkbox-login-remember-me" type="checkbox"> 保持登录
		                            </label>
		                        </div>
		                    </div>
		                    <div class="col-xs-4">
		                        <button id="btn-login" type="button" class="btn btn-primary btn-block btn-flat">登录</button>
		                    </div>
		                </div>
		            </form>
		        </div>

		        <div class="panel-footer">
		            <div class="row">
		                <div class="col-xs-6 text-left">
		                    <a href="#" class="" data-target="#forgot-panel">忘记密码</a>
		                </div>
		                <div class="col-xs-6 text-right">
		                    <%# if(locals.query.regist) { %>
		                        <a href="#" class="" data-target="#regist-panel">注 册</a>
		                    <%# delete locals.query.regist} %>
		                </div>
		            </div>
		        </div>
		    </div>

		    <div id="forgot-panel" class="panel panel-danger">
		        <div class="panel-heading">
		            <p class="panel-title text-left"><i class="fa fa-key"></i> 提示</p>
		        </div>
		        <div class="panel-body text-center">
		            <small>请联系运营人员重置您的密码。</small>
		        </div>

		        <div class="panel-footer text-center">
		            <a href="#" data-target="#login-panel">返回登录
		            </a>
		        </div>
		    </div>

		    <div id="regist-panel" class="panel panel-primary">
		        <div class="panel-heading text-center">
		            <h3><b><%= title %></b> - 注册</h3>
		        </div>
		        <div class="panel-body">
		            <br>
		            <form id="regist-form" data-toggle="validator" data-feedback="" data-disable="false">
		                <div class="form-group has-feedback">
		                    <input id="regist-username" type="text" class="form-control" placeholder="用户名" name="username" required>
		                    <span class="glyphicon glyphicon-user form-control-feedback text-gray"></span>
							<span class="help-block with-errors"></span>
		                </div>
		                <div class="form-group has-feedback">
		                    <input id="regist-pwd" type="password" class="form-control" placeholder="密码" required>
		                    <span class="glyphicon glyphicon-lock form-control-feedback text-gray"></span>
							<span class="help-block with-errors"></span>
		                </div>
		                <div class="form-group has-feedback">
		                    <input id="regist-pwd2" type="password" class="form-control" placeholder="确认密码"
							data-match="#regist-pwd" data-match-error="两次密码输入不一致" required>
		                    <span class="glyphicon glyphicon-retweet form-control-feedback text-gray"></span>
							<span class="help-block with-errors"></span>
		                </div>
		                <div class="row">
		                    <div class="col-xs-4">
		                        <button type="reset" class="btn btn-default btn-block btn-flat">重 置</button>
		                    </div>
		                    <div class="col-xs-4">
		                    </div>
		                    <div class="col-xs-4">
		                        <button id="btn-regist" type="submit" class="btn btn-primary btn-block btn-flat">注 册</button>
		                    </div>
		                </div>
		            </form>
		        </div>
		        <div class="panel-footer text-center">
		            <a href="#" data-target="#login-panel">返回登录
		            </a>
		        </div>
		    </div>

		</div>

		<script>
		    var errorMsg = '<%= locals.errorMsg %>';

		    $(function () {
		        $("#checkbox-login-remember-me").on("ifChecked", function() {
		            $("#login-remember-me").val('yes');
		        }).on("ifUnchecked",function () {
		            $("#login-remember-me").val('no');
		        }).iCheck($("#login-remember-me").val() == 'yes' ? 'check' : 'uncheck');

		        $(document).on('click', '.panel-footer a[data-target]', function (e) {
		            e.preventDefault();
		            var target = $(this).data('target');
		            $('.panel.visible').removeClass('visible');
		            $(target).addClass('visible');
		        });

		        $("#login-username").focus().select().on('keyup',function(e){
		            if(e.keyCode == 13){
		                $("#login-pwd").focus().select();
		                return false;
		            }
		        });

		        $("#login-pwd").on("keyup", function(e) {
		            if (e.keyCode == 13) {
		                $("#login-panel form").submit();
		                return false;
		            }
		        });

		        $("#btn-login").click(function(){
		            $("#login-panel form").submit();
		        });
				$('#login-form').validator().on('submit', function (e) {
					if (!e.isDefaultPrevented()) {
						var pwd = $("#login-pwd").val();
						$("input[name=password]").val($.md5(pwd));
					}
				})

		        $("#regist-username").on("keyup",function (e) {
		            if(e.keyCode == 13){
		                $("#regist-pwd").focus().select();
		                return false;
		            }
		        })

		        $("#regist-pwd").on("keyup",function (e) {
		            if(e.keyCode == 13){
		                $("#regist-pwd2").focus().select();
		                return false;
		            }
		        });

		        $("#regist-pwd2").on("keyup",function (e) {
		            if(e.keyCode == 13){
		                $("#btn-regist").trigger("click");
		                return false;
		            }
		        });

				$('#regist-form').validator().on('submit', function (e) {
					if (!e.isDefaultPrevented()) {
						e.preventDefault();
						var username = $("#regist-username").val();
						var phonenumber = $("#regist-phonenumber").val();
						var password = $("#regist-pwd").val();
						$.ajax({
							url : '/regist',
							method : 'POST',
							type : 'json',
							data : {
								username : username,
								phonenumber : phonenumber,
								password : $.md5(password)
							},
							success : function() {
								$.gritter.add({
									text : '注册成功!',
									class_name : 'gritter-success'
								});
								$("#regist-panel button[type=reset]").trigger("click");
							}
						});
					}
				}).on('reset',function(e){
		            $("#regist-username").focus();
					setTimeout(function(){
						$("#regist-form").find(".form-group").removeClass("has-error").removeClass("has-success");
						$("#regist-form").find(".with-errors").empty();
					},500);
				})

		    });

		    $('input').iCheck({
		        checkboxClass: 'icheckbox_square-blue',
		        radioClass: 'iradio_square-blue'
		    });
		</script>
	</body>
</html>