<div class="page-header">
    <div class="form-inline form-search pull-right">
        <div class="form-group">
            <div class="input-group">
                <input class="form-control search-query" type="text" name="queryText" placeholder="标题/路径/角色" value="">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" onclick="javascript:searchMenu();">
                        查询 <i class="ace-icon fa fa-search icon-on-right"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<table id="menu-table" class="easyui-datagrid" width="100%" rownumbers="true" pagination="true" 
    url="/menu/menus?pid=<%=pid-%>" singleSelect="true" toolbar="#menu-tb" 
    title="<%= pmenu?pmenu['title']:'系统菜单' -%>">
    <thead>
        <tr>
            <th field="title" width="120" align="center" formatter="formatTitle">标题</th>
            <th field="path" width="200" align="left">路径</th>
            <th field="roles" width="120" align="center">角色</th>
            <th field="sort_number" width="80" align="center">排序</th>
            <th field="id" width="250" align="center" formatter="formatOpt">操作</th>
        </tr>
    </thead>
</table>
<div id="menu-tb">
    <button type="button" class="easyui-linkbutton" iconCls="fa fa-plus" plain="true" data-toggle="modal" data-target="#menu-dlg">新增菜单</button>
    <% if(pmenu){%>
    <a href="/menu/<%=pmenu['pid']-%>" class="easyui-linkbutton" iconCls="fa fa-arrow-up" plain="true" data-toggle="modal">上级菜单</a>
    <%}%>
</div>

<div class="modal fade" id="menu-dlg">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">编辑菜单</h4>
            </div>
            <form id="menu-form" class="form-horizontal" data-toggle="validator">
                <div class="modal-body">
                    <input type="hidden" name="id" value="">
                    <input type="hidden" name="pid" value="<%=pid-%>">
                    <div class="form-group">
                        <label for="input-title" class="col-sm-3 control-label">
                            <span class="text-red">*</span>
                            标题:
                        </label>
                        <div class="col-sm-8">
                            <input id="input-title" type="text" name="title" class="form-control" required>
                            <span class="help-block with-errors"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-path" class="col-sm-3 control-label">
                            <span class="text-red">*</span>
                            路径:
                        </label>
                        <div class="col-sm-8">
                            <input id="input-path" type="text" name="path" class="form-control" required>
                            <span class="help-block with-errors"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-icon" class="col-sm-3 control-label">
                            <!--<span class="text-red">*</span>-->
                            图标:
                        </label>
                        <div class="col-sm-8">
                            <input id="input-icon" type="text" name="icon" class="form-control">
                            <span class="help-block with-errors"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-roles" class="col-sm-3 control-label">
                            <!--<span class="text-red">*</span>-->
                            角色:
                        </label>
                        <div class="col-sm-8">
                            <input id="input-roles" type="text" name="roles" class="form-control">
                            <span class="help-block with-errors"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-sort-number" class="col-sm-3 control-label">
                            <!--<span class="text-red">*</span>-->
                            排序:
                        </label>
                        <div class="col-sm-8">
                            <input id="input-sort-number" type="text" name="sort_number" class="form-control" data-toggle="integer">
                            <span class="help-block with-errors"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">确定</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $(document).on("shown.bs.modal", "#menu-dlg", function() {
            var id = $(this).find("input[name=index]").val();
            if (id) {
                $(this).find(".modal-title").text("编辑菜单");
            } else {
                $(this).find(".modal-title").text("新增菜单");
            }
        });
        $('#menu-form').validator().on('submit', function(e) {
            if (!e.isDefaultPrevented()) {
                e.preventDefault();
                $.post('/menu/save', $("#menu-form").serialize(), function(data) {
                    $.gritter.add({
                        text : '提交成功!',
                        class_name : 'gritter-info'
                    });
                    $("#menu-dlg").modal("hide");
                    $("#menu-table").datagrid("reload");
                });
            }
        });
    });

    function formatOpt(val, row, idx) {
        var btns = "<div class='btn-group'>";
        btns += "<a class='btn btn-xs btn-primary' href='javascript:editMenu();'><i class='ace-icon fa fa-edit'></i> 编辑</a>";
        btns += "<a class='btn btn-xs btn-danger' href='javascript:removeMenu();'><i class='ace-icon fa fa-remove'></i> 删除</a>";
        btns += "</div>";
        return btns;
    }

    function formatTitle(val,row,idx){
        return "<a href='/menu/{0}'><i class='{1}'></i> {2}</a>".format(row['id'],row['icon'],val);
    }

    function editMenu() {
        var row = $("#menu-table").datagrid("getSelected");
        $("#menu-form").form("load", row);
        $("#menu-dlg").modal("show");
    }

    function removeMenu() {
        var row = $("#menu-table").datagrid("getSelected");
        bootbox.confirm({
            title : "提示",
            message : "确定删除菜单 <span class='label label-danger'>{0}</span> ?".format(row.title),
            buttons : {
                confirm : {
                    label : "确定",
                    className : "btn-primary btn-sm",
                },
                cancel : {
                    label : "取消",
                    className : "btn-sm",
                }
            },
            callback : function(result) {
                if (result) {
                    $.post('/menu/remove', {
                        id : row.id
                    }, function(data) {
                        $("#menu-table").datagrid("reload");
                    });
                }
            }
        });
    }

function searchMenu() {
    $("#menu-table").datagrid("load", {
        queryText : $("input[name=queryText]").val()
    });
}
</script>